# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - platform: windows-amd64
            goos: windows
            goarch: amd64
            ext: .exe
            package: zip
          - platform: windows-arm64
            goos: windows
            goarch: arm64
            ext: .exe
            package: zip
          - platform: linux-amd64
            goos: linux
            goarch: amd64
            ext: ""
            package: tar.gz
          - platform: linux-arm64
            goos: linux
            goarch: arm64
            ext: ""
            package: tar.gz
          - platform: darwin-amd64
            goos: darwin
            goarch: amd64
            ext: ""
            package: tar.gz
          - platform: darwin-arm64
            goos: darwin
            goarch: arm64
            ext: ""
            package: tar.gz
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.26'

    - name: Build binaries
      env:
        CGO_ENABLED: 0
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}
      run: |
        go build -ldflags="-s -w" -o checkhash${{ matrix.ext }} ./cmd/checkhash
        go build -ldflags="-s -w" -o decrypt${{ matrix.ext }} ./cmd/decrypt
        go build -ldflags="-s -w" -o decrypt-dir${{ matrix.ext }} ./cmd/decrypt-dir

    - name: Create zip package
      if: matrix.package == 'zip'
      run: |
        zip -r kobackupcipher-${{ matrix.platform }}-${{ github.sha }}.zip checkhash${{ matrix.ext }} decrypt${{ matrix.ext }} decrypt-dir${{ matrix.ext }}

    - name: Create tar.gz package
      if: matrix.package == 'tar.gz'
      run: |
        tar -czvf kobackupcipher-${{ matrix.platform }}-${{ github.sha }}.tar.gz \
          checkhash${{ matrix.ext }} \
          decrypt${{ matrix.ext }} \
          decrypt-dir${{ matrix.ext }}

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: kobackupcipher-${{ matrix.platform }}
        path: |
          kobackupcipher-${{ matrix.platform }}-${{ github.sha }}.zip
          kobackupcipher-${{ matrix.platform }}-${{ github.sha }}.tar.gz

  release:
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
    - name: Download all artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts

    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        files: artifacts/*/*
        generate_release_notes: true
        tag_name: "auto-release-${{ github.sha }}"
        name: "auto-release-${{ github.sha }}"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

