# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
#  pull_request:
#    branches: [ "master" ]

jobs:

  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.26'

    - name: Build binaries
      env:
        CGO_ENABLED: 0
      run: |
        go build -ldflags="-s -w" -o checkhash ./cmd/checkhash
        go build -ldflags="-s -w" -o decrypt ./cmd/decrypt
    - name: Create tarball
      run: |
        tar -czvf kobackupcipher-${{ github.sha }}.tar.gz \
          checkhash \
          decrypt
    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        files: kobackupcipher-${{ github.sha }}.tar.gz
        generate_release_notes: true
        tag_name: "auto-release-${{ github.sha }}"
        name: "auto-release-${{ github.sha }}"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

